/* 
Dear examiner, please note that, I've blurred the images due to religious concerns & styled the page with mobile first approach.
Thanks in advance :)
*/

/* Font */
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;800&display=swap');
  /* font-family: 'Work Sans', sans-serif; */

/* Variables */
  :root {
    font-size: 10px;  /* making font size 10px would make it easier to calculate later */
    --fs-p: clamp(1.6rem, 5vw, 2rem);
    --fs-h2: calc(var(--fs-p) * 2);  /* for section title */
    --fs-btn: calc(var(--fs-p) * .9);
  }
/* Removing browser styles */
  html {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
  }
  
  body, h1, h2, h3, p, ol, ul,figure {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  h2 {
    color: #0B0223;
    font-size: var(--fs-h2);
    font-weight: 700;
    margin-bottom: 15px;
  }
  p {
    color: #534C64;
    font-size: var(--fs-p);
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 15px;
  }
  
  ol, ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
/* Repeated Styles */
  .styled-text {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .btn-primary {
    display: inline-flex;
    padding: 10px 20px;
    align-items: flex-start;
    border-radius: 48px;
    color: #FFF;
    font-size: var(--fs-btn);
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
  }
  .header-items-container, .banner-section, .online-game-section, .genre-section, .play-games-section {
    padding: 30px 0;
  }
/* Body  */
  body {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: normal;
    font-weight: 400;
    margin: 0 auto;
  }
/* Header */
  header {
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.1);
  }
  .header-items-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .logo {
    display: flex;
    align-items: center;
  }
  .logo-image img{
    max-height: 32px;
    width: auto;
    margin-top: 5px;
  }
  .logo-text {
    font-size: 48px;
    font-weight: 700;
    margin-left: 20px;
    color:#8758F1
  }
  .nav-items-container a {
    display: inline-block;
    color: #3C354F;
    text-align: center;
    font-size: var(--fs-btn);
    font-weight: 500;
    padding: 10px;
  }
  .nav-follow-us-items-container {
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    display: flex;
    align-items: center;
  }
  .nav-follow-us-texts {
    color: #3C354F;
    text-align: center;
    font-size: var(--fs-btn);
    font-weight: 500;
  }
  .nav-follow-us-links img {
    height: var(--fs-btn);
    width: auto;
    margin-left: 10px;
    margin-top: 5px;
  }
/* Main */
  main {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 30px;
  }
/* Banner section */
  .banner-description {
    padding: 20px 0;
  }
  .banner-description h1 {
    color: #0B0223;
    font-size: 32px;
    font-weight: 600;
   
  }
  .banner-styled-text {
    font-size: 64px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .banner-features {
    color: #534C64;
    font-size: var(--fs-p);
    font-weight: 500;
  }
  .banner-features > div {
    display: flex;
    padding: 10px 0;
  }
  .banner-features img{
    height: var(--fs-p);
    width: auto;
    margin-right: 10px;
    margin-top: 3px;
  }
  .banner-buttons-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  .sign-in-button {
    background-color: #F948B2;
    margin-right: 20px;
  }
  .go-rogue-button {
    background-color: #4EC5F7;
  }

/* Online games section  */
  .card {
    text-align: center;
    margin-top: 30px;
  }
  .card-image {
    border-radius: 5px;
  }
  .card-image-caption {
    color: #534C64;
    font-size: var(--fs-p);
    font-weight: 500;
    line-height: 24px;
    margin-top: 10px;
  }

/* Play Games section */
  .play-games-images-container {
    margin-top: 30px;
  }

  .play-games-images-container img {
    border-radius: 3px;
    display: block;
  }
  .play-games-images-container img:nth-child(1) {
    max-width: 80%;
  }
  
  .play-games-images-container img:nth-child(2) {
    max-width: 40%;
    transform: translate(150%, -50%);
    margin-bottom: -80px; /* readjusts the space between play games and genre section */
  }

/* Genre section */
  .genre-section {
    margin-top: 30px;
  }
  .genre-buttons-container {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    border: 1px solid #8758F1;
    border-radius: 3px;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .genre-icon {
    width: 30px;
    height: auto;
    margin-right: 14px;
  }
  .genre-button {
    color: #0B0223;
    font-weight: 600;
    font-size: var(--fs-btn);
    display: flex;
    align-items: center;
    padding: 5px 10px;
    margin: 10px;
  }
  .genre-button:hover {
    color: #F948B2;
    border: 1px solid #F948B2;
  }

/* Footer section  */
  footer {
    background-color: #0B0223;
    padding: 60px;
  }
  .footer-logo {
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .footer-logo .logo-text {
    color: white;
  }
  .footer-account, .footer-social-links, .footer-policy-links {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    gap: 15px;
    justify-content:center;
    margin-bottom: 40px;
  }
  .footer-account a {
    color: #FFF;
    text-align: center;
    font-size: var(--fs-btn);
    font-weight: 500;
  }
  .footer-social-links img {
    max-height: 24px;
    width: auto;
    padding: 0 10px;
  }
  .footer-policy-links a{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: var(--fs-btn);
    font-weight: 500;
  }
  .footer-copyright {
    color: rgba(255, 255, 255, 0.60);
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
  }

/* Media Queries  */
/* Tab View */
@media screen and (min-width:768px) {
  /* Repeated styles  */
  .btn-primary {
    padding: 10px 30px;
  }
  /* Main */
  main {
    padding: 0 60px;
  }
/* Banner section */
  .banner-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .banner-description {
    order: 1;
  }
  .banner-image {
    order: 2;
    max-width: 48%;
  }
  /* Online game section */
  .cards-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .card {
    max-width: 46%;
  }
  /* Genre section */
  .genre-section {
    text-align: center;
  }
}
/* PC view */
@media screen and (min-width:1024px){
  /* Repeated styles  */
  .btn-primary {
    padding: 15px 40px;
  }
  /* Header */
  .header-items-container {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    padding-left:60px;
    padding-right:60px;
  }
  nav {
    display: flex;
    align-items: center;
  }
  nav > ul {
    display: flex;
  }
  .nav-follow-us-items-container {
    margin: 0;
    margin-left: 10px;
  }
/* Banner Section */
  .banner-image {
    margin-left: 40px;
  }
  .banner-description h1 {
    font-size: 48px;
  }
  .banner-styled-text {
    font-size: 96px;
  }
  .online-game-section {
    text-align: center;
  }
  .cards-container {
    margin-top: 40px;
  }
  .card {
    max-width: 23%;
  }
  .play-games-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
  .play-games-images-container {
    order: 1;
  }
  .play-games-description {
    order: 2;
    margin-left: 40px;
    max-width: 40%;
  }
}