/* Font */
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;800&display=swap');
  /* font-family: 'Work Sans', sans-serif; */

/* Removing browser styles */
  html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  body, h1, h2, h3, p, ol, ul,figure {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  h2 {
    color: #0B0223;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  p {
    color: #534C64;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 10px;
  }
  
  ol, ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
/* Repeated Styles */
  .styled-text {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .btn-primary {
    display: inline-flex;
    padding: 10px 20px;
    align-items: flex-start;
    border-radius: 48px;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
  }
  header, .banner-section, .online-game-section, .genre-section {
    padding: 30px 0;
  }
/* Body  */
  body {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: normal;
    font-weight: 400;
    margin: 0 auto;
    padding: 0 30px;
  }
/* Header */
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .logo {
    display: flex;
    align-items: center;
  }
  .logo-text {
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
    margin-left: 20px;
  }
  .nav-items-container a {
    display: inline-block;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
  }
  .nav-follow-us-items-container {
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    display: flex;
    align-items: center;
  }
  .nav-follow-us-texts {
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
  }
  .nav-follow-us-links img {
    height: 24px;
    width: auto;
    margin-left: 15px;
    margin-top: 5px;
  }

/* Banner section */
  
  .banner-description {
    padding: 20px 0;
  }
  .banner-description h1 {
    color: #0B0223;
    font-size: 32px;
    font-weight: 600;
  }
  .banner-styled-text {
    font-size: 64px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .banner-features {
    color: #534C64;
    font-size: 18px;
    font-weight: 500;
  }
  .banner-features > div {
    display: flex;
    padding: 10px 0;
  }
  .banner-features img{
    height: 18px;
    width: auto;
    margin-right: 12px;
    margin-top: 3px;
  }
  .banner-buttons-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  .sign-in-button {
    background-color: #F948B2;
    margin-right: 20px;
  }
  .go-rogue-button {
    background-color: #4EC5F7;
  }

/* Online games section  */
  .card {
    text-align: center;
    padding: 5px;
    margin-top: 30px;
  }
  .card-image {
    border-radius: 5px;
  }
  .card-image-caption {
    color: #534C64;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 10px;
  }

/* Genre section */
.genre-section {
  max-width: 760px;
  margin: 0 auto;
}
  .genre-buttons-container {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    border: 1px solid #F948B2;
    border-radius: 3px;
    padding: 20px;
    margin-top: 20px;
  }
  .genre-icon {
    width: 30px;
    height: auto;
    margin-right: 14px;
  }
  .genre-button {
    color: #0B0223;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    margin: 10px;
  }
  .genre-button:hover {
    color: #F948B2;
    border: 1px solid #F948B2;
  }

