/* Font */
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;800&display=swap');
  /* font-family: 'Work Sans', sans-serif; */

/* Removing browser styles */
  html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  body, h1, h2, h3, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
/* Repeated Styles */
  .styled-text {
    color: #FF42A5;
  }
  .btn-primary {
    display: inline-flex;
    padding: 10px 20px;
    align-items: flex-start;
    border-radius: 48px;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
  }
/* Body  */
  body {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: normal;
    font-weight: 400;
    margin: 0 auto;
    padding: 0 30px;
  }
/* Header */
  header {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .logo {
    display: flex;
    align-items: center;
  }
  .logo-text {
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
    margin-left: 20px;
  }
  .nav-items-container a {
    display: inline-block;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    padding: 20px;
  }
  .nav-follow-us-items-container {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 20px;
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  .nav-follow-us-texts {
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
  }
  .nav-follow-us-links img {
    height: 24px;
    width: auto;
    margin-left: 15px;
    margin-top: 5px;
  }

/* Banner section */
  .banner-section {
    padding: 50px 0;
  }
  .banner-description {
    padding: 20px 0;
  }
  .banner-description h1 {
    color: #0B0223;
    font-size: 32px;
    font-weight: 600;
  }
  .banner-styled-text {
    font-size: 64px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .banner-features {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
  }
  .banner-features > div {
    display: flex;
    padding: 10px 0;
  }
  .banner-features img{
    height: 20px;
    width: auto;
    margin-right: 12px;
    margin-top: 4px;
  }
  .banner-buttons-container {
    display: flex;
    align-items: center;
    margin-top: 30px;
  }
  .sign-in-button {
    background-color: #F948B2;
    margin-right: 20px;
  }
  .go-rogue-button {
    background-color: #4EC5F7;
  }

